<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="co.texas.User">
    <property name="car" ref ="car"/>
    </bean>
    
	<bean id="car" class="co.texas.Car">
	<property name="name" value ="Corvette"></property>
	<property name="perDayCost" value ="50000"></property>
	</bean>
	
</beans>
